.app {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: auto;
  // padding: 8px;
}
/* Small Laptops (769px - 1024px) */
@media (min-width: 769px) {
  .app {
    width: 70%;
  }
}
.content {
  height: 100%;
}
