// dar green #31572c
//dark green #283618

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}

.app {
  // background-color: var(--bg-color);
  // color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: auto;
  transition: background-color 300ms ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 70%;
  margin: auto;
  div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.navbutton {
  display: block;
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: rgb(170, 170, 170);
  margin: auto;
}
.navbutton {
  // color: white;
  &:hover {
    transition: all 200ms ease-in-out;
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: auto;
}

//  creame #fefae0
// tan #dda15e
// dark green #283618
// forest green #606c38
