//  creame #fefae0
// tan #dda15e
// dark green #283618
// forest green #606c38
:root {
  --toggle-options: #606c38;
}
.dark {
  --toggle-options: #606c38;
  //   --background-options: rgb(220, 220, 220);
  //   --text-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  gap: 1.5rem;
  height: fit-content;
  width: 600px;
  background-color: var(--background-options);
  border-radius: 8px;
}
.optionBtn {
  color: var(--toggle-options);
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
}
.toggle {
  // border-bottom: 2px solid var(--bg-color);
  //   color: var(--toggle-color);
  color: var(--text-options);
}

.optionBtn:hover {
}
.resetBtn {
  margin: auto;
  display: block;
  background-color: transparent;
  //   color: var(--text-color);
  border: none;
}

.game {
  flex: 1;
  padding-top: 5rem;
  width: inherit;
}
.typingContainer {
  height: fit-content;
  position: relative;
}
.timer::before {
  content: "";
  padding: 2rem;
  font-size: 2rem;
}
.timer {
  padding: 2rem;
  font-size: 2rem;
}

.footer {
  height: 200px;
}

.gameFocus {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  p {
    font-size: 2rem;
    text-align: center;
    // color: rgb(180, 180, 180);
  }
}

.blur {
  filter: blur(4px);
}

.words {
  height: 110px;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  background: transparent;
  word-break: keep-all;
  white-space: normal;
  overflow: hidden;
}
span {
  display: inline-block;
  text-align: center;
  word-break: keep-all;
  white-space: normal;
}
.space {
  width: 10px;
  display: inline-block;
  text-align: center;
}
.letter {
  border-left: 3px solid transparent;
}

.cursor::before {
  content: "";
  margin-left: -3px;
  border-left: 3px solid #fefae0;
  animation: blink;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-out;
  opacity: 1;
}
input {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  color: transparent;
}

.valid {
  color: white;
}
.error {
  color: red;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
