//  creame #fefae0
// tan #dda15e
// dark green #283618
// forest green #606c38
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  width: 100%;
}
.modes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  gap: 1.5rem;
  height: 50px;
}
.option {
  padding: 1rem;
}
.option:hover {
  color: #606c38;
}
.game {
  position: relative;
  display: flex;
  flex: 1;
  gap: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: inherit;
}

.footer {
  height: 200px;
}
.gameFocus {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  margin-bottom: 10rem;
  justify-content: center;
  p {
    font-size: 2rem;
    text-align: center;
    color: rgb(180, 180, 180);
  }
}
.blur {
  filter: blur(4px);
}
.typeFieldContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

p {
  display: block;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: gray;
  background: transparent;
}
span {
  display: inline-block;
  text-align: center;
}
.space {
  width: 10px;
  display: inline-block;
  text-align: center;
}
.letter {
  border-left: 3px solid transparent;
}

.cursor::before {
  content: "";
  margin-left: -3px;
  border-left: 3px solid #fefae0;
  animation: blink;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-out;
  opacity: 1;
}
input {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  color: transparent;
}

.valid {
  color: white;
}
.error {
  color: red;
}
button {
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: rgb(170, 170, 170);
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
