.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.options {
  height: 50px;
}
.game {
  position: relative;
  display: flex;
  flex: 1;
  gap: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 200px;
}
.gameFocus {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  margin-bottom: 10rem;
  justify-content: center;
  p {
    // width: 100%;
    font-size: 2rem;
    text-align: center;
    color: rgb(180, 180, 180);
  }
}
.blur {
  filter: blur(4px);
}
.typeFieldContainer {
  width: 100%;
  p {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: gray;
    background: transparent;
  }
}
input {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  color: transparent;
}

span {
  margin-inline: 4px;
  position: relative;
}

.valid {
  color: white;
}
.error {
  color: red;
}
button {
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: rgb(170, 170, 170);
}

.cursor {
  position: absolute;
  left: -5px;
  bottom: 0;
  top: 0;
  border-left: 4px solid green;
  animation: blink;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-out;
  opacity: 1;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
