.container {
  width: 100%;
  height: 100%;
  color: var(--text-color);
}
.leaderboard_clock {
  opacity: 0.6;
}
.row {
  display: flex;
  align-items: center;
  gap: 1rem;

  div:nth-child(2) {
    flex: 1;
  }
  padding: 1rem;
  border-radius: 4px;
}
.table {
  overflow: hidden;
}
.userInfo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100px;

  .userImg {
    border-radius: 50%;
    background-color: var(--cloud-color);
    width: 20px;
    height: 20px;
  }
  .userName {
    cursor: pointer;
  }
}
.userTestStats {
  display: flex;
  gap: 1rem;
  span {
    width: 100px;
  }
}
.tableBody,
.tableHeader {
  display: flex;
  flex-direction: column;
}
.tableHeader {
  font-size: 0.85rem;
}
.tableBody {
  .row:nth-child(odd) {
    background-color: var(--cloud-color);
  }
  span {
    color: var(--text-color);
  }
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  div {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
}
.h1 {
  margin-block: 1rem;
}
.button {
  text-align: center;
  flex: 1;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  border-radius: 0.75rem;
  transition: background-color 200ms ease;
  font-weight: 600;
  opacity: 0.5;
  &.button:hover {
    background-color: var(--accent-color);

    color: #e3f2fd;
    // background-color: rgb(162, 155, 254, 0.5);
    &.toggle {
      background-color: var(--accent-color);
    }
  }
}

.toggle {
  opacity: 1;
  color: #e3f2fd;
  background-color: var(--accent-color);
}
.loading {
  text-align: center;
}
