@import "/src/styles/theme";
@import "../src/styles/colors";
:root {
  --bg: #f5f5f5;
  --text: #222222;
  --primary: #228b22;
  --accent: #ff4500;
  --text-options: #36454f;
  --text-options-toggled: #ff4500;
  --typing-fields-placeholder: #a9a9a9;
  --typing-fields-valid: #1e1e1e;
  --cursor: #36454f;
}
.dark {
  --bg: #1e1e1e;
  --text: #fefae0;
  --primary: #01579b;
  --accent: #ffd700;
  --text-options: #708090;
  --text-options-toggled: #ffd700;
  --typing-fields-placeholder: #b2beb5;
  --typing-fields-valid: #f5f5f5;
  --cursor: #fefae0;
}
// CSS Reset (Modern Normalize)
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Set up base styles
html,
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  height: 100%; // Full height ensures flex layouts work properly
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease; // Smooth theme transition
}

// Remove default list styles
ul,
ol {
  list-style: none;
}

// Remove default button styles
button {
  all: unset;
  cursor: pointer;
}

// Remove default link styles
a {
  text-decoration: none;
  color: inherit;
}

// Improve input styling
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}

body {
  // background-color: var(--bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}
// button.toggle {
//   color: red;
// }
